#logox{  
   margin-top:5px; 
   font: 25px sans-serif;
   color: #333;
   background: #007FFF; 
} 
#mainspan{
	color:#FFF;
}
.navbar-nav li a {
    margin:0 10px;
    font-weight:bold;font-size:20px;  
    color:#FFF; 
}
.navbar-nav a:hover {
    font-size: 20px; 
    font-weight:800;
    color:#FFF;
}
.navbar .log{
  padding: 8px 20px;
  color:#FFF;  
  background-color: #000000;
  line-height:1 !important;
}
.navbar .log span{
  font-weight:bold;font-size:25px;  
  color:#FFF;
}
.navbar .bell{
font-size: 40px;
color:#FFF;  
line-height:1 !important;
border-width:0;
padding:0;
background-color:transparent; 
  margin:0 10px 0 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #fff;
}

#stats{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: #f1f5f9;
}

.logo-img{
    width: 65px;
    float: left;
}

.stat-text{
    text-align: left;
}

#timely-stats{
    margin-left: 20px;
}
.schedule-logo{
    width: 50px;
    margin-left: 15px;
}
/* ROW */
.row-bottom{
	margin: 4rem 1rem 15rem; 
}
.row-top{
    margin: 4rem 5rem 8rem 5rem; 
    border-radius: 30px;    
	background: #007FFF; 
	padding:20px;
} 
td{
	padding-top:15px;
}

.card{
     border-radius: 0;
     border: none;
     text-align: center;
     background: #007FFF;     
     padding:5px;
     color: #FFF;
}
.r-card{
	border-top-right-radius:40px; 
	border-bottom-right-radius:40px; 
}
.l-card{
	border-top-left-radius:40px; 
	border-bottom-left-radius:40px; 
}
.c-card{
	border-left:2px solid #FFF;
	border-right:2px solid #FFF;
}

/* Main-content */
header{
    display: flex;
    position: relative;
    width: 100%;
}
.quote{
    padding: 2rem;
    width: 70%;
}
.message-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    margin: 30px 20px 0;
    width:12%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.message-wrapper span{
    display: inline-block;
    padding: 0.5rem ;
    font-size: 1.2rem;    
}

.message-wrapper input{
    border: none;
    outline: none;
}
.button-wrapper{
    border: 1px solid #ccc;  
    border-radius: 30px;
    height: 0%;
    margin: 30px 20px 0;
    width:12%;
    overflow-x: hidden;
}
.button-wrapper button{
width:100%;
height: 40px;
background: #007FFF;
color:#FFF;
    border: none;
    outline: none;
}
.switch-button{
	border: none;
    outline: none;
    width:150px;
    background: #FFF;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-bottom: 5rem;
    
}

.card-single{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single span:first-child span{
    color: gray;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: #007FFF;
}

.cards-weekly{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 3rem;
}
h1{font-weight:bold;font-size:50px;}
h2{font-weight:bold;font-size:40px;}
h3{font-weight:bold;font-size:30px;}
h4{font-weight: 500;font-size:20px;}

/*Chat Box CSS Code*/
#view-code:hover{opacity:1;}
#chatbox{
	
	background:#fff;
	border-radius:15px;
	border:1px solid #d8dfe3;
	overflow:hidden;
}

#topmenu{
	width:300px;	
	border-bottom:1px solid #d8dfe3;	
}
#topmenu h3{padding:20px 0 20px 20px;}
#topmenu th {
  padding-top: 0;
  width:150px;
  text-align:center;
}
.active {
  border-bottom:3px solid #333;
}
.friend{
	height:70px;
	border-bottom:1px solid #e7ebee;		
	position:relative;
}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:40px;
	border-radius:50%;
	margin:15px;
	float:left;
}
.floatingImg{
	width:40px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:12px;
	border:3px solid #fff;
}
.friend p{
	padding:15px 0 0 0;			
	float:left;
	width:220px;
	margin-bottom:0;
}
.friend p strong{
  font-weight:600;
  font-size:15px;
	color:#597a96;  

}
.friend p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
}
.friend .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#eaeef0;}

.stat-top-class{
	padding: 0 20px 0 0;
	margin-top:4%;
}
.stat-top-row{
	border-radius:20px;
	border:1px solid #d8dfe3;
	text-align:left;
}
.stat-top-row td{
	padding:10px 0 10px 0;
}
.stat-bottom-class{
	padding: 0 20px 0 0;
	margin-top:3%;
}
.stat-bottom-row{
	border-radius:20px;
	border:1px solid #d8dfe3;
	text-align:center;
}
.stat-bottom-row td{
	padding:10px 0 10px 0;
}

table{
    width:100%;
    table-layout:fixed;
}
.footer-section li a{
	color:#FFF;
	text-decoration:none;
}
.footer-section li{
	margin-top:10px;	
}